<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1>About me</h1>
    <p>This is the page about me</p>
    <form action="/about-me" method="post">
        <input type="text"name="xss_input">
        <input type="submit" value="submit">
    </form>


    <div>{{ user_input | safe }}</div><!--  this is working that's why the script is getting executed--> 
    

</body>
</html>
